body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../public/unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}

.App-header {
  background-image:linear-gradient(to right,rgb(200, 82, 14),rgb(21, 69, 215));
  color: white;
  padding: 20px;
  padding-bottom: 11px;
}

.icon{
  height: 35px;
  justify-self: start;
}
.App-header h1 {
  margin: 0;
  font-size: 2rem;
}

.menu-item{
  list-style: none;
  margin-top: 2px;
  font-size: 18px;
}
.menu-item a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.error {
  color: red;
  margin: 10px 0;
  font-weight: bold;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
